@model IEnumerable<string>

<a class="btn btn-block btn-secondary" 
   asp-action="List" 
   asp-controller="Product" 
   asp-route-category="">Home</a>

@foreach (var category in  Model)
{
    <a class="btn btn-block @(ViewBag.SelectedCategory == category ? "btn-primary" : "btn-secondary")"
       asp-controller="Product"
       asp-action="List"
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
}